*{
text-align: center;
}

body{
text-align: center;
margin: auto 0;
}

img{
text-align: center;
display: inline-block;
width: 11%;
height: 11%;
float: left;
margin: 10px;
}

#all{
text-align: center;
display: inline-block;
padding: 0;
}

select{
margin: 20px;
}
